.sidebar {
    background-color: var(--sidebar-background-color);
    width: 13.5vw;
    height: 100%;
    padding: 0 .625rem;
    color: var(--sidebar-text-color);
}


/* =====================================
    HEADER - Contém botões de navegação 
   ===================================== */

/* O header contém os botões da sidebar com ícones de navegação */

.sidebar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
}

/* O botão principal para fechar a barra lateral */
.sidebar header button {
    position: relative;
    padding: .625rem;
    border-radius: .625rem;
    font-size: 1.2rem;
    color: var(--sidebar-button-color);
    cursor: pointer;
}

.sidebar header button:hover {
    background-color: var(--sidebar-button-hover-color);
}

/* A parte importante: a pseudo-classe ::after para mostrar a tooltip */
.sidebar header button:hover::after {
    background-color: var(--sidebar-button-after-background-color);
    position: absolute;  /* Necessário para posicionar a tooltip em relação ao botão */
    z-index: 10;         /* Coloca a tooltip acima de outros elementos */
    padding: .625rem;
    border-radius: .625rem;
    border: 1px solid var(--sidebar-button-border-color);
    white-space: nowrap;
    font-family: "Inter", sans-serif;
    font-size: .8rem;
    font-weight: 600;
}

/* Posicionamento específico para a tooltip do primeiro botão */
.sidebar header button:nth-child(1):hover::after {
    content: "Fechar barra lateral"; /* Texto exibido na tooltip */
    top: 0.1875rem;
    left: 2.8125rem;
}

/* Posicionamento para as tooltips dos outros botões */
.sidebar header div button:nth-child(1):hover::after {
    content: "Buscar em chats";
    top: calc(100% + 0.3125rem); /* Calcula a posição abaixo do botão */
    left: 50%;
    transform: translateX(-50%);
}

.sidebar header div button:nth-child(2):hover::after {
    content: "Novo chat";
    top: calc(100% + 0.3125rem);
    left: 50%;
    transform: translateX(-50%);
}

.sidebar header div {
    display: flex;
    font-size: 1.3rem;
}








/* =====================================
    MAIN - Contém os links principais
    e chats do usuário
   ===================================== */

.sidebar main {
    /* Altura ajustada para ocupar o espaço restante, considerando header e footer */
    height: calc(100% - 13vh);
}

.sidebar nav {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.sidebar nav a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    color: var(--sidebar-button-color);
}

.sidebar nav a:hover {
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
}

.sidebar nav a span {
    font-family: "Inter", sans-serif;
    font-size: .85rem;
    font-weight: 300;
    color: var(--sidebar-text-color);
}

/* Tooltip automática baseada no atributo title */
.sidebar nav a:first-child:hover::after {
    content: attr(title);
    background-color: var(--sidebar-background-color);
    position: absolute;
    top: 5%;
    left: calc(100% + .9375rem);

    z-index: 10;
    padding: .625rem;
    border-radius: .625rem;
    border: 1px solid var(--sidebar-button-border-color);

    white-space: nowrap;
    font-family: "Inter", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: var(--sidebar-text-color);
}









/* =====================================
    FOOTER - Área para upgrade premium
   ===================================== */

.sidebar footer {
    display: flex;
    align-items: center;
    padding: 0 0.3125rem;
    height: 6vh;
    border-radius: .625rem;
    cursor: pointer;
}

.sidebar footer:hover {
    background-color: var(--sidebar-hover-color);
}

.sidebar footer span {
    margin: 0 .625rem 0 0.3125rem;
    padding: 0.3125rem;
    font-size: .8rem;
    border-radius: 100%;
    border: 1px solid var(--sidebar-button-border-colo);
}

.sidebar footer .premium {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.sidebar footer .premium h5 {
    font-size: .8rem;
}

.sidebar footer .premium p {
    font-size: .7rem;
    color: var(--sidebar-subtitle-color);
}