.sidebar {
    background-color: var(--sidebar-background-color);
    position: relative;
    width: 13.5vw;
    height: 100%;
}


/* HEADER */

.sidebar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
    padding: 0 10px;
}

.sidebar header span {
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #a1a1a1;
    cursor: pointer;
}

.sidebar header span:hover {
    background-color: #7e7e7e4f;
}

.sidebar header div {
    display: flex;
    font-size: 1.3rem;
}




/* FOOTER */

.sidebar footer {
    background-color: blue;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 6vh;
    padding: 0 10px;
}